Source: iptables-optimizer-squeeze
Section: net
Priority: extra
Maintainer: Johannes Hubertz <johannes@hubertz.de>
Build-Depends: python (>= 2.6.6), debhelper (>= 9), shunit2 (>=2.1.6), python-sphinx (>= 1.2.2),  python-setuptools
Standards-Version: 3.9.5

Package: iptables-optimizer-squeeze
Architecture: all
X-Python-Version: >= 2.6
Depends: ${misc:Depends}, python (>= 2.6.5-3), bash (>=4.1)
Description: sort iptables rules by packet counters
 iptables-optimizer is a shell and Python based tool for sorting
 iptables rules by packet/byte counters according to the
 administrators policy, ip6tables-optimizer works similar just
 for ip6tables chains.

Package: iptables-optimizer-squeeze-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: sphinx html documentation for iptables-optimizer
 iptables-optimizer is a shell and Python based tool for sorting
 iptables rules by packet/byte counters according to the
 administrators policy, ip6tables-optimizer works similar just
 for ip6tables chains. This package contains the documentation
 only and includes some argumentation about it's usage and the 
 plausibility of the implemented special sorting algorithm.
