#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DH_OPTIONS=-v
export DEB_BUILD_OPTIONS=1

PYTHON2=$(shell pyversions -vr)
#PYTHON3=$(shell py3versions -vr)

# Prevent setuptools/distribute from accessing the internet.
export http_proxy = http://127.0.9.1:9


%:
	dh $@ --with python2,sphinxdoc

build-python%:
	python$* setup.py build

install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb


build: build-stamp

build-stamp:
	dh_testdir

clean:
	dh_clean

#install:	build

override_dh_install:
	dh_prep
	dh_installdirs /usr/sbin /usr/share/iptables-optimizer /usr/share/pyshared /var/cache/iptables-optimizer
	dh_installman --language=C man/*
	cd $(CURDIR)/debian/iptables-optimizer/usr/share/man/man8 && \
		cat ${CURDIR}/man/iptables-optimizer.8 | \
        sed -e 's/iptables/ip6tables/g' |  sed -e 's/auto-apply/auto-apply6/g' | \
        gzip > ip6tables-converter.8.gz
	dh_installdocs --exclude=html
	cd $(CURDIR)/debian/iptables-optimizer/usr/share/pyshared && \
		cp $(CURDIR)/iptables_optimizer.py iptables_optimizer.py 
	cd $(CURDIR)/debian/iptables-optimizer/usr/share/iptables-optimizer && \
		sed -e 's!python iptables_optimizer.py!/usr/share/pyshared/iptables_optimizer.py!' < $(CURDIR)/iptables-optimizer-functions \
		> iptables-optimizer-functions
	cd $(CURDIR)/debian/iptables-optimizer/usr/sbin && \
		sed -e 's!^source iptables-!source /usr/share/iptables-optimizer/iptables-!' < $(CURDIR)/iptables-optimizer > iptables-optimizer && \
		chmod 755 iptables-optimizer
	cd $(CURDIR)/debian/iptables-optimizer/usr/sbin && ln -s iptables-optimizer ip6tables-optimizer
	cd $(CURDIR)
	dh_lintian

override_dh_installdocs:
	python setup.py build_sphinx
	dh_installdocs --package=iptables-optimizer-doc build/sphinx/html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info


